.modal.fade.compose-mail-modal(tabindex='-1', role='dialog', aria-labelledby='composeMail')
  .modal-dialog
    .modal-content
      .modal-header.bg-black
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') ×
        h4#composeMail.modal-title Compose Message
      .modal-body
        form
          .form-group
            input#exampleInputEmail.form-control(type='text', placeholder='To')
          .form-group
            input#exampleInputSubject.form-control(type='text', placeholder='Subject')
          textarea#compose-mail
          .text-right
            button.btn.btn-raised.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-raised.btn-black(type='button') Send Mail