.page-header.clearfix
  .pull-left
    h4.mt-0.mb-5
      block page-header
    block breadcrumb
  .pull-right
    .btn-group
      button.btn.btn-default.btn-outline(type='button') Language
      button.btn.btn-default.btn-outline.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
        span.caret
        span.sr-only Toggle Dropdown
      ul.dropdown-menu.dropdown-menu-right.animated.fadeInDown(style='min-width: 115px')
        li
          a(href='#') English
        li
          a(href='#') French
        li
          a(href='#') Chinese
