// Demo Settings start
.setting.closed
  a.setting-toggle.fs-16(href='javascript:;')
    i.ti-settings.text-muted
  h4.fs-16.mt-0.mb-15 Demo settings
  form.form-horizontal
    .clearfix
      h6.pull-left.fs-13.fw-400 Fixed Header
      .switch.pull-right
        input#fixed-header(type='checkbox')
        label.switch-success(for='fixed-header')
    .clearfix
      h6.pull-left.fs-13.fw-400 Fixed Sidebar
      .switch.pull-right
        input#fixed-sidebar(type='checkbox')
        label.switch-success(for='fixed-sidebar')
    .clearfix.hidden-xs
      h6.pull-left.fs-13.fw-400 Pinned Sidebar
      .switch.pull-right
        input#pinned-sidebar(type='checkbox')
        label.switch-success(for='pinned-sidebar')
    .clearfix.hidden-xs
      h6.pull-left.fs-13.fw-400 Closed Sidebar
      .switch.pull-right
        input#closed-sidebar(type='checkbox')
        label.switch-success(for='closed-sidebar')
    .clearfix
      h6.pull-left.fs-13.fw-400 Native Scrollbar
      .switch.pull-right
        input#native-scrollbar(type='checkbox')
        label.switch-success(for='native-scrollbar')
// Demo Settings end