extends ../template/template.jade
block title
  title Umega App - Typography
block navigation
  ul.list-unstyled.navigation.mb-0
    li.header Main
    li
      a.bubble(href='index.html')
        i.ti-home
        |  Dashboard
        span.badge.bg-danger 3
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse2', aria-expanded='false', aria-controls='collapse2')
        i.ti-palette
        |  Skins
      ul#collapse2.list-unstyled.collapse
        li
          a(href='red-skin.html') Red
        li
          a(href='green-skin.html') Green
        li
          a(href='yellow-skin.html') Yellow
    li.header Components
    li.panel
      a.active(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse3', aria-expanded='true', aria-controls='collapse3')
        i.ti-receipt
        |  Basic
      ul#collapse3.list-unstyled.collapse.in
        li
          a(href='buttons.html') Buttons
        li
          a(href='carousels.html') Carousels
        li
          a(href='containers.html') Containers
        li
          a(href='dialogs.html') Dialogs
        li
          a(href='basic-inputs.html') Inputs
        li
          a(href='navigations.html') Navigations
        li
          a(href='progress-bars.html') Progress bars
        li
          a.active(href='typography.html') Typography
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse4', aria-expanded='false', aria-controls='collapse4')
        i.ti-ruler-pencil
        |  Editors
      ul#collapse4.list-unstyled.collapse
        li
          a(href='summernote.html') Summernote
        li
          a(href='bootstrap-markdown.html') Bootstrap markdown
        li
          a(href='code-prettify.html') Code prettify
        li
          a(href='ckeditor.html') CKEditor
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse5', aria-expanded='false', aria-controls='collapse5')
        i.ti-location-arrow
        |  Pickers
      ul#collapse5.list-unstyled.collapse
        li
          a(href='color-picker.html') Color picker
        li
          a(href='datetime-picker.html') Datetime picker
        li
          a(href='clock-picker.html') Clock picker
        li
          a(href='date-range-picker.html') Date range picker
        li
          a(href='multi-select.html') Multi select
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse6', aria-expanded='false', aria-controls='collapse6')
        i.ti-layers-alt
        |  Forms
      ul#collapse6.list-unstyled.collapse
        li
          a(href='form-layouts.html') Layouts
        li
          a(href='jquery-validation.html') Validation
        li
          a(href='jquery-steps.html') Wizard
        li
          a(href='other-plugins.html') Other plugins
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse7', aria-expanded='false', aria-controls='collapse7')
        i.ti-face-smile
        |  Icons
      ul#collapse7.list-unstyled.collapse
        li
          a(href='glyphicons.html') Glyphicons
        li
          a(href='font-awesome.html') Font awesome
        li
          a(href='material-design.html') Material design
        li
          a(href='themify.html') Themify
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse8', aria-expanded='false', aria-controls='collapse8')
        i.ti-layout-grid2
        |  Tables
      ul#collapse8.list-unstyled.collapse
        li
          a(href='basic-tables.html') Basic tables
        li
          a(href='data-tables.html') Data tables
        li
          a(href='pricing-tables.html') Pricing tables
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse9', aria-expanded='false', aria-controls='collapse9')
        i.ti-control-forward
        |  Animations
      ul#collapse9.list-unstyled.collapse
        li
          a(href='basic-animations.html') Basic
        li
          a(href='loading-animations.html') Loading
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse10', aria-expanded='false', aria-controls='collapse10')
        i.ti-upload
        |  File uploads
      ul#collapse10.list-unstyled.collapse
        li
          a(href='dropzone-js.html') Dropzone
        li
          a(href='bootstrap-file-input.html') Bootstrap file input
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse11', aria-expanded='false', aria-controls='collapse11')
        i.ti-info-alt
        |  Indicators
      ul#collapse11.list-unstyled.collapse
        li
          a(href='toastr.html') Toastr
        li
          a(href='sweet-alert.html') Sweet alert
    li.header Data visualization
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse12', aria-expanded='false', aria-controls='collapse12')
        i.ti-bar-chart
        |  Charts
      ul#collapse12.list-unstyled.collapse
        li
          a(href='flot-charts.html') Flot charts
        li
          a(href='morris-charts.html') Morris charts
        li
          a(href='chart-js.html') Chart.js
        li
          a(href='other-charts.html') Other charts
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse13', aria-expanded='false', aria-controls='collapse13')
        i.ti-location-pin
        |  Maps
      ul#collapse13.list-unstyled.collapse
        li
          a(href='vector-maps.html') Vector maps
        li
          a(href='google-maps.html') Google maps
    li.header Page kits
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse14', aria-expanded='false', aria-controls='collapse14')
        i.ti-alert
        |  Error pages
      ul#collapse14.list-unstyled.collapse
        li
          a(href='400.html') 400 Bad request
        li
          a(href='401.html') 401 Unauthorized
        li
          a(href='403.html') 403 Forbidden
        li
          a(href='404.html') 404 Not found
        li
          a(href='500.html') 500 Internal server error
        li
          a(href='503.html') 503 Service unavailable
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse15', aria-expanded='false', aria-controls='collapse15')
        i.ti-user
        |  User pages
      ul#collapse15.list-unstyled.collapse
        li
          a(href='login.html') Login
        li
          a(href='register.html') Registration
        li
          a(href='forgot.html') Forgot password
        li
          a(href='lock-screen.html') Lock screen
        li
          a(href='profile.html') Profile
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse16', aria-expanded='false', aria-controls='collapse16')
        i.ti-panel
        |  Apps
      ul#collapse16.list-unstyled.collapse
        li
          a(href='mailbox.html') Mailbox
        li
          a(href='calendar.html') Calendar
        li
          a(href='image-cropper.html') Image cropper
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse17', aria-expanded='false', aria-controls='collapse17')
        i.ti-blackboard
        |  Extra pages
      ul#collapse17.list-unstyled.collapse
        li
          a(href='invoice.html') Invoice
        li
          a(href='search-results.html') Search results
        li
          a(href='blank-template.html') Blank template
    li.header Help
    li
      a(href='documentation.html')
        i.ti-help-alt
        |  Documentation
    li.header Menu Levels
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse18', aria-expanded='false', aria-controls='collapse18')
        i.ti-folder
        |  Menu levels
      ul#collapse18.list-unstyled.collapse
        li
          a(href='#') Menu level 2.1
        li.panel
          a.collapsed(role='button', data-toggle='collapse', data-parent='#collapse18', href='#collapse21', aria-expanded='false', aria-controls='collapse21') Menu level 2.2
          ul#collapse21.list-unstyled.collapse
            li
              a(href='#') Menu level 3.1
            li.panel
              a.collapsed(role='button', data-toggle='collapse', data-parent='#collapse21', href='#collapse31', aria-expanded='false', aria-controls='collapse31') Menu level 3.2
              ul#collapse31.list-unstyled.collapse
                li
                  a(href='#') Menu level 4.1
                li.panel
                  a.collapsed(role='button', data-toggle='collapse', data-parent='#collapse31', href='#collapse41', aria-expanded='false', aria-controls='collapse41') Menu level 4.2
                  ul#collapse41.list-unstyled.collapse
                    li
                      a(href='#') Menu level 5.1
                    li
                      a(href='#') Menu level 5.2
block page-header
  | Typography
block breadcrumb
  ol.breadcrumb.mb-0
    li
      a(href='#') Umega
    li
      a(href='#') Basic
    li.active Typography
block main-content
  .main-content.container-fluid
    .row
      .col-md-6
        .widget
          .widget-heading
            h3.widget-title Headings
          .widget-body
            p
              | All HTML headings, 
              code &lt;h1&gt;
              |  through 
              code &lt;h6&gt;
              | , are available. 
              code .h1
              |  through 
              code .h6
              |  classes are also available, for when you want to match the font styling of a heading but still want your text to be displayed inline.
            h1 h1. Bootstrap heading
            h2 h2. Bootstrap heading
            h3 h3. Bootstrap heading
            h4 h4. Bootstrap heading
            h5 h5. Bootstrap heading
            h6 h6. Bootstrap heading
      .col-md-6
        .widget
          .widget-heading
            h3.widget-title Custom Headings
          .widget-body
            p
              | Create lighter, secondary text in any heading with a generic 
              code &lt;small&gt;
              |  tag or the 
              code .small
              |  class.
            h1
              i.ti-notepad
              |  Bootstrap heading 
              small Secondary text
            h2
              i.ti-notepad
              |  Bootstrap heading 
              small Secondary text
            h3
              i.ti-notepad
              |  Bootstrap heading 
              small Secondary text
            h4
              i.ti-notepad
              |  Bootstrap heading 
              small Secondary text
            h5
              i.ti-notepad
              |  Bootstrap heading 
              small Secondary text
            h6
              i.ti-notepad
              |  Bootstrap heading 
              small Secondary text
    .row
      .col-md-6
        .widget
          .widget-heading
            h3.widget-title Body Copy
          .widget-body
            p
              | Bootstrap's global default 
              code font-size
              |  is 
              strong 14px
              | , with a 
              code line-height
              |  of 
              strong 1.428
              | . This is applied to the 
              code &lt;body&gt;
              |  and all paragraphs. In addition, 
              code &lt;p&gt;
              |  (paragraphs) receive a bottom margin of half their computed line-height (10px by default).
            p
              | Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
            p
              | Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.
      .col-md-6
        .widget
          .widget-heading
            h3.widget-title Lead Body Copy
          .widget-body
            p
              | Make a paragraph stand out by adding 
              code .lead
              | .
            p.lead
              | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
    .row
      .col-lg-12
        .widget
          .widget-heading
            h3.widget-title Inline Text Elements
          .widget-body
            table.table.table-bordered
              thead
                tr
                  th #
                  th Text Type
                  th Example
              tbody
                tr
                  th(scope='row') 1
                  td
                    h5 MARKED TEXT
                    p
                      | Use the 
                      code &lt;mark&gt;
                      |  tag.
                  td
                    p
                      | You can use the mark tag to 
                      mark highlight
                      |  text.
                tr
                  th(scope='row') 2
                  td
                    h5 DELETED TEXT
                    p
                      | Use the 
                      code &lt;del&gt;
                      |  tag.
                  td
                    p
                      del This line of text is meant to be treated as deleted text.
                tr
                  th(scope='row') 3
                  td
                    h5 STRIKETHROUGH TEXT
                    p
                      | Use the 
                      code &lt;s&gt;
                      |  tag.
                  td
                    p
                      s This line of text is meant to be treated as no longer accurate.
                tr
                  th(scope='row') 4
                  td
                    h5 INSERTED TEXT
                    p
                      | Use the 
                      code &lt;ins&gt;
                      |  tag.
                  td
                    p
                      ins This line of text is meant to be treated as an addition to the document.
                tr
                  th(scope='row') 5
                  td
                    h5 UNDERLINED TEXT
                    p
                      | Use the 
                      code &lt;u&gt;
                      |  tag.
                  td
                    p
                      u This line of text will render as underlined
                tr
                  th(scope='row') 6
                  td
                    h5 SMALL TEXT
                    p
                      | Use the 
                      code &lt;small&gt;
                      |  tag.
                  td
                    p
                      small This line of text is meant to be treated as fine print.
                tr
                  th(scope='row') 7
                  td
                    h5 BOLD
                    p
                      | Use the 
                      code &lt;strong&gt;
                      |  tag.
                  td
                    p
                      | The following snippet of text is 
                      strong rendered as bold text
                      | .
                tr
                  th(scope='row') 8
                  td
                    h5 ITALICS
                    p
                      | Use the 
                      code &lt;em&gt;
                      |  tag.
                  td
                    p
                      | The following snippet of text is 
                      em rendered as italicized text
                      | .
    .row
      .col-md-4
        .widget
          .widget-heading
            h3.widget-title Alignment Classes
          .widget-body
            p
              | Add class 
              code .text-left
              | , 
              code .text-center
              | , 
              code .text-right
              | , 
              code .text-justify
              | , 
              code .text-nowrap
              |  to make it.
            p.text-left Left aligned text.
            p.text-center Center aligned text.
            p.text-right Right aligned text.
            p.text-justify Justified text.
            p.text-nowrap No wrap text.
      .col-md-4
        .widget
          .widget-heading
            h3.widget-title Transformation Classes
          .widget-body
            p
              | Add class 
              code .text-lowercase
              | , 
              code .text-uppercase
              | , 
              code .text-capitalize
              |  to make it.
            p.text-lowercase Lowercased text.
            p.text-uppercase Uppercased text.
            p.text-capitalize Capitalized text.
      .col-md-4
        .widget
          .widget-heading
            h3.widget-title ABBREVIATIONS
          .widget-body
            p
              | Use the 
              code &lt;abbr&gt;
              |  tag.
            h5 BASIC ABBREVIATION
            p
              | An abbreviation of the word attribute is 
              abbr(title='attribute') attr
              | .
            h5 INITIALISM
            p
              | Add 
              code .initialism
              |  to an abbreviation for a slightly smaller font-size.
            p
              abbr.initialism(title='HyperText Markup Language') HTML
              |  is the best thing since sliced bread.
    .row
      .col-md-4
        .widget
          .widget-heading
            h3.widget-title Address
          .widget-body
            p
              | Use the 
              code &lt;address&gt;
              |  tag.
            address
              strong Twitter, Inc.
              br
              | 795 Folsom Ave, Suite 600
              br
              | San Francisco, CA 94107
              br
              abbr(title='Phone') P:
              |  (123) 456-7890
            address
              strong Full Name
              br
              a(href='mailto:#') first.last@example.com
      .col-md-8
        .widget
          .widget-heading
            h3.widget-title Blockquotes
          .widget-body
            p
              | Wrap 
              code &lt;blockquote&gt;
              |  around any 
              abbr(title='HyperText Markup Language') HTML
              |  as the quote. For straight quotes, we recommend a 
              code &lt;p&gt;
              | .
            blockquote
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            h5 NAMING A SOURCE
            p
              | Add a 
              code &lt;footer&gt;
              |  for identifying the source. Wrap the name of the source work in 
              code &lt;cite&gt;
              | .
            blockquote
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              footer
                | Someone famous in 
                cite(title='Source Title') Source Title
            h5 ALTERNATE DISPLAYS
            p
              | Add 
              code .blockquote-reverse
              |  for a blockquote with right-aligned content.
            blockquote.blockquote-reverse
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
              footer
                | Someone famous in 
                cite(title='Source Title') Source Title
    .row
      .col-lg-12
        .widget
          .widget-heading
            h3.widget-title Lists
          .widget-body
            .row
              .col-md-4
                h5 UNORDERED
                ul
                  li Lorem ipsum dolor sit amet
                  li Consectetur adipiscing elit
                  li Integer molestie lorem at massa
                  li Facilisis in pretium nisl aliquet
                  li
                    | Nulla volutpat aliquam velit
                    ul
                      li Phasellus iaculis neque
                      li Purus sodales ultricies
                      li Vestibulum laoreet porttitor sem
                      li Ac tristique libero volutpat at
                  li Faucibus porta lacus fringilla vel
                  li Aenean sit amet erat nunc
                  li Eget porttitor lorem
              .col-md-4
                h5 ORDERED
                ol
                  li Lorem ipsum dolor sit amet
                  li Consectetur adipiscing elit
                  li Integer molestie lorem at massa
                  li Facilisis in pretium nisl aliquet
                  li Nulla volutpat aliquam velit
                  li Faucibus porta lacus fringilla vel
                  li Aenean sit amet erat nunc
                  li Eget porttitor lorem
                h5 INLINE
                ul.list-inline
                  li Lorem ipsum
                  li Phasellus iaculis
                  li Nulla volutpat
              .col-md-4
                h5 UNSTYLED
                ul.list-unstyled
                  li Lorem ipsum dolor sit amet
                  li Consectetur adipiscing elit
                  li Integer molestie lorem at massa
                  li Facilisis in pretium nisl aliquet
                  li
                    | Nulla volutpat aliquam velit
                    ul
                      li Phasellus iaculis neque
                      li Purus sodales ultricies
                      li Vestibulum laoreet porttitor sem
                      li Ac tristique libero volutpat at
                  li Faucibus porta lacus fringilla vel
                  li Aenean sit amet erat nunc
                  li Eget porttitor lorem
            .row
              .col-md-4
                h5 DESCRIPTIONS
                p A list of terms with their associated descriptions.
                dl
                  dt Description lists
                  dd A description list is perfect for defining terms.
                  dt Euismod
                  dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                  dd Donec id elit non mi porta gravida at eget metus.
                  dt Malesuada porta
                  dd Etiam porta sem malesuada magna mollis euismod.
              .col-md-8
                h5 HORIZONTAL DESCRIPTION
                p
                  | Make terms and descriptions in 
                  code &lt;dl&gt;
                  |  line up side-by-side. Starts off stacked like default 
                  code &lt;dl&gt;
                  | s, but when the navbar expands, so do these.
                dl.dl-horizontal
                  dt Description lists
                  dd A description list is perfect for defining terms.
                  dt Euismod
                  dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
                  dd Donec id elit non mi porta gravida at eget metus.
                  dt Malesuada porta
                  dd Etiam porta sem malesuada magna mollis euismod.
                  dt Felis euismod semper eget lacinia
                  dd
                    | Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    .row
      .col-lg-12
        .widget
          .widget-heading
            h3.widget-title Contextual
          .widget-body
            .row
              .col-md-6
                h5 TEXT COLORS
                p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                p.text-primary Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                p.text-success Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                p.text-info Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                p.text-warning Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                p.text-danger Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              .col-md-6
                h5 BACKGROUNDS
                p.pl-10.pr-10.pt-5.pb-5.bg-primary Primary
                p.pl-10.pr-10.pt-5.pb-5.bg-success Success
                p.pl-10.pr-10.pt-5.pb-5.bg-info Info
                p.pl-10.pr-10.pt-5.pb-5.bg-warning Warning
                p.pl-10.pr-10.pt-5.pb-5.bg-danger Danger
    .row
      .col-lg-12
        .widget
          .widget-heading
            h3.widget-title Code
          .widget-body
            .row
              .col-md-4
                h5 INLINE
                p
                  | Wrap inline snippets of code with 
                  code &lt;code&gt;
                  | .
                | For example, 
                code &lt;section&gt;
                |  should be wrapped as inline.
                h5 SAMPLE OUTPUT
                p
                  | For indicating blocks sample output from a program use the 
                  code &lt;samp&gt;
                  |  tag.
                samp This text is meant to be treated as sample output from a computer program.
              .col-md-4
                h5 USER INPUT
                p
                  | Use the 
                  code &lt;kbd&gt;
                  |  to indicate input that is typically entered via keyboard.
                | To switch directories, type 
                kbd cd
                |  followed by the name of the directory.
                br
                | To edit settings, press 
                kbd
                  kbd ctrl
                  |  + 
                  kbd ,
                h5 VARIABLES
                p
                  | For indicating variables use the 
                  code &lt;var&gt;
                  |  tag.
                var y
                |  = 
                var m
                var x
                |  + 
                var b
              .col-md-4
                h5 BASIC BLOCK
                p
                  | Use 
                  code &lt;pre&gt;
                  |  for multiple lines of code. Be sure to escape any angle brackets in the code for proper rendering.
                pre &lt;p&gt;Sample text here...&lt;/p&gt;