extends ../template/extra-template.jade
block title
  title Umega App - 401 Unauthorized
block main-content
  body.error-page
    h1.error-code
      | 4
      i.ti-face-sad.error-icon
      | 1
    h3.error-title Not authorized!
    p.error-sentence The requested resource requires user authentication.
    a.error-action.btn.btn-lg.btn-outline.btn-rounded.btn-primary(href='index.html', role='button') Go to home page
    ul.list-inline.mt-20
      li
        a.text-info.fs-20(href='#')
          i.ti-twitter-alt
      li
        a.text-primary.fs-20(href='#')
          i.ti-facebook
      li
        a.text-danger.fs-20(href='#')
          i.ti-google