extends ../template/template.jade
block css
  // Bootstrap File Input
  link(rel='stylesheet', type='text/css', href=plugins+'bootstrap-fileinput/css/fileinput.min.css')
block js
  // Bootstrap File Input
  script(type='text/javascript', src=plugins+'bootstrap-fileinput/js/plugins/canvas-to-blob.min.js')
  script(type='text/javascript', src=plugins+'bootstrap-fileinput/js/fileinput.min.js')
block custom-js
  script(type='text/javascript', src=build+'js/pages/bootstrap-file-input.js')
block title
  title Umega App - Bootstrap File Input
block navigation
  ul.list-unstyled.navigation.mb-0
    li.header Main
    li
      a.bubble(href='index.html')
        i.ti-home
        |  Dashboard
        span.badge.bg-danger 3
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse2', aria-expanded='false', aria-controls='collapse2')
        i.ti-palette
        |  Skins
      ul#collapse2.list-unstyled.collapse
        li
          a(href='red-skin.html') Red
        li
          a(href='green-skin.html') Green
        li
          a(href='yellow-skin.html') Yellow
    li.header Components
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse3', aria-expanded='false', aria-controls='collapse3')
        i.ti-receipt
        |  Basic
      ul#collapse3.list-unstyled.collapse
        li
          a(href='buttons.html') Buttons
        li
          a(href='carousels.html') Carousels
        li
          a(href='containers.html') Containers
        li
          a(href='dialogs.html') Dialogs
        li
          a(href='basic-inputs.html') Inputs
        li
          a(href='navigations.html') Navigations
        li
          a(href='progress-bars.html') Progress bars
        li
          a(href='typography.html') Typography
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse4', aria-expanded='false', aria-controls='collapse4')
        i.ti-ruler-pencil
        |  Editors
      ul#collapse4.list-unstyled.collapse
        li
          a(href='summernote.html') Summernote
        li
          a(href='bootstrap-markdown.html') Bootstrap markdown
        li
          a(href='code-prettify.html') Code prettify
        li
          a(href='ckeditor.html') CKEditor
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse5', aria-expanded='false', aria-controls='collapse5')
        i.ti-location-arrow
        |  Pickers
      ul#collapse5.list-unstyled.collapse
        li
          a(href='color-picker.html') Color picker
        li
          a(href='datetime-picker.html') Datetime picker
        li
          a(href='clock-picker.html') Clock picker
        li
          a(href='date-range-picker.html') Date range picker
        li
          a(href='multi-select.html') Multi select
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse6', aria-expanded='false', aria-controls='collapse6')
        i.ti-layers-alt
        |  Forms
      ul#collapse6.list-unstyled.collapse
        li
          a(href='form-layouts.html') Layouts
        li
          a(href='jquery-validation.html') Validation
        li
          a(href='jquery-steps.html') Wizard
        li
          a(href='other-plugins.html') Other plugins
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse7', aria-expanded='false', aria-controls='collapse7')
        i.ti-face-smile
        |  Icons
      ul#collapse7.list-unstyled.collapse
        li
          a(href='glyphicons.html') Glyphicons
        li
          a(href='font-awesome.html') Font awesome
        li
          a(href='material-design.html') Material design
        li
          a(href='themify.html') Themify
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse8', aria-expanded='false', aria-controls='collapse8')
        i.ti-layout-grid2
        |  Tables
      ul#collapse8.list-unstyled.collapse
        li
          a(href='basic-tables.html') Basic tables
        li
          a(href='data-tables.html') Data tables
        li
          a(href='pricing-tables.html') Pricing tables
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse9', aria-expanded='false', aria-controls='collapse9')
        i.ti-control-forward
        |  Animations
      ul#collapse9.list-unstyled.collapse
        li
          a(href='basic-animations.html') Basic
        li
          a(href='loading-animations.html') Loading
    li.panel
      a.active(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse10', aria-expanded='true', aria-controls='collapse10')
        i.ti-upload
        |  File uploads
      ul#collapse10.list-unstyled.collapse.in
        li
          a(href='dropzone-js.html') Dropzone
        li
          a.active(href='bootstrap-file-input.html') Bootstrap file input
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse11', aria-expanded='false', aria-controls='collapse11')
        i.ti-info-alt
        |  Indicators
      ul#collapse11.list-unstyled.collapse
        li
          a(href='toastr.html') Toastr
        li
          a(href='sweet-alert.html') Sweet alert
    li.header Data visualization
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse12', aria-expanded='false', aria-controls='collapse12')
        i.ti-bar-chart
        |  Charts
      ul#collapse12.list-unstyled.collapse
        li
          a(href='flot-charts.html') Flot charts
        li
          a(href='morris-charts.html') Morris charts
        li
          a(href='chart-js.html') Chart.js
        li
          a(href='other-charts.html') Other charts
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse13', aria-expanded='false', aria-controls='collapse13')
        i.ti-location-pin
        |  Maps
      ul#collapse13.list-unstyled.collapse
        li
          a(href='vector-maps.html') Vector maps
        li
          a(href='google-maps.html') Google maps
    li.header Page kits
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse14', aria-expanded='false', aria-controls='collapse14')
        i.ti-alert
        |  Error pages
      ul#collapse14.list-unstyled.collapse
        li
          a(href='400.html') 400 Bad request
        li
          a(href='401.html') 401 Unauthorized
        li
          a(href='403.html') 403 Forbidden
        li
          a(href='404.html') 404 Not found
        li
          a(href='500.html') 500 Internal server error
        li
          a(href='503.html') 503 Service unavailable
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse15', aria-expanded='false', aria-controls='collapse15')
        i.ti-user
        |  User pages
      ul#collapse15.list-unstyled.collapse
        li
          a(href='login.html') Login
        li
          a(href='register.html') Registration
        li
          a(href='forgot.html') Forgot password
        li
          a(href='lock-screen.html') Lock screen
        li
          a(href='profile.html') Profile
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse16', aria-expanded='false', aria-controls='collapse16')
        i.ti-panel
        |  Apps
      ul#collapse16.list-unstyled.collapse
        li
          a(href='mailbox.html') Mailbox
        li
          a(href='calendar.html') Calendar
        li
          a(href='image-cropper.html') Image cropper
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse17', aria-expanded='false', aria-controls='collapse17')
        i.ti-blackboard
        |  Extra pages
      ul#collapse17.list-unstyled.collapse
        li
          a(href='invoice.html') Invoice
        li
          a(href='search-results.html') Search results
        li
          a(href='blank-template.html') Blank template
    li.header Help
    li
      a(href='documentation.html')
        i.ti-help-alt
        |  Documentation
    li.header Menu Levels
    li.panel
      a.collapsed(role='button', data-toggle='collapse', data-parent='.navigation', href='#collapse18', aria-expanded='false', aria-controls='collapse18')
        i.ti-folder
        |  Menu levels
      ul#collapse18.list-unstyled.collapse
        li
          a(href='#') Menu level 2.1
        li.panel
          a.collapsed(role='button', data-toggle='collapse', data-parent='#collapse18', href='#collapse21', aria-expanded='false', aria-controls='collapse21') Menu level 2.2
          ul#collapse21.list-unstyled.collapse
            li
              a(href='#') Menu level 3.1
            li.panel
              a.collapsed(role='button', data-toggle='collapse', data-parent='#collapse21', href='#collapse31', aria-expanded='false', aria-controls='collapse31') Menu level 3.2
              ul#collapse31.list-unstyled.collapse
                li
                  a(href='#') Menu level 4.1
                li.panel
                  a.collapsed(role='button', data-toggle='collapse', data-parent='#collapse31', href='#collapse41', aria-expanded='false', aria-controls='collapse41') Menu level 4.2
                  ul#collapse41.list-unstyled.collapse
                    li
                      a(href='#') Menu level 5.1
                    li
                      a(href='#') Menu level 5.2
block page-header
  | Bootstrap File Input
block breadcrumb
  ol.breadcrumb.mb-0
    li
      a(href='#') Umega
    li
      a(href='#') File Uploads
    li.active Bootstrap File Input
block main-content
  .main-content.container-fluid
    .widget
      .widget-heading
        h3.widget-title Basic
      .widget-body
        form.form-horizontal
          .form-group
            label.col-sm-2.control-label Example 1
            .col-sm-10
              input#input-1.file(type='file')
              p.help-block
                | Automatically convert a file input to a bootstrap file input widget by setting its class as 
                code file
                | .
          .form-group
            label.col-sm-2.control-label Example 2
            .col-sm-10
              input#input-2.file(type='file', data-show-preview='false')
              p.help-block Hide file preview thumbnails.
          .form-group
            label.col-sm-2.control-label Example 3
            .col-sm-10
              input#input-3.file(name='input3[]', type='file', multiple='', data-show-upload='false', data-show-caption='true')
              p.help-block Use file input attributes (e.g. multiple upload) for setting input behavior and data attributes to control plugin options. For example, hide/show display of upload button and caption.
          .form-group
            label.col-sm-2.control-label Example 4
            .col-sm-10
              input#input-4.file(type='file', disabled='true')
              p.help-block Set the file input widget to be readonly or disabled.
          .form-group
            label.col-sm-2.control-label Example 5
            .col-sm-10
              input#input-5.file-loading(name='input5[]', type='file', multiple='')
              p.help-block
                | Initialize file input widget via javascript. Hide the caption and display widget with only buttons. You can add the 
                code file-loading
                |  class to show a spinning indicator, while the plugin loads.
          .form-group
            label.col-sm-2.control-label Example 6
            .col-sm-10
              input#input-6.file-loading(name='input6[]', type='file', multiple='')
              p.help-block Change size of whole widget (e.g. bootstrap input group styling) and set max files count allowed to 10.
          .form-group
            label.col-sm-2.control-label Example 7
            .col-sm-10
              input#input-7.file.file-loading(name='input7[]', multiple='', type='file', data-allowed-file-extensions='["csv", "txt"]')
              p.help-block
                | Using data attributes to configure the entire widget. This example shows how you can pass json within data attributes in the HTML markup (check 
                code data-allowed-file-extensions
                |  which basically sets the plugin property 
                code allowedFileExtensions
                | )
    .widget
      .widget-heading
        h3.widget-title Advanced
      .widget-body
        form.form-horizontal
          .form-group
            label.col-sm-2.control-label Example 8
            .col-sm-10
              input#input-8.file-loading(name='8[]', type='file', multiple='')
              p.help-block
                | Set maximum file upload size to 100 KB. Display preview on load with preset files/images and captions with 
                code overwriteInitial
                |  set to 
                code false
                | . So the initial preview is always displayed when additional files are overwritten (useful for multiple upload) scenario.
          .form-group
            label.col-sm-2.control-label Example 9
            .col-sm-10
              input#input-9.file-loading(name='input9[]', type='file', multiple='')
              p.help-block
                | Display preview on load with preset files/images and captions with 
                code overwriteInitial
                |  set to 
                code true
                | .
          .form-group
            label.col-sm-2.control-label Example 10
            .col-sm-10
              input#input-10.file-loading(type='file', accept='image/*')
              p.help-block Show only image files for selection & preview. Control button labels, styles, and icons for the browse, upload, and remove buttons.
          .form-group
            label.col-sm-2.control-label Example 11
            .col-sm-10
              input#input-11.file-loading(name='input11[]', type='file', accept='text/plain', multiple='')
              p.help-block Preview section control. Change preview background and allow text files ONLY for selection as well as preview.
          .form-group
            label.col-sm-2.control-label Example 12
            .col-sm-10
              input#input-12.file-loading(name='input12[]', type='file', multiple='')
              p.help-block Advanced customization using templates. For example, change position of buttons from right to left.
          .form-group
            label.col-sm-2.control-label Example 13
            .col-sm-8
              input#input-13.file(name='input13[]', type='file', multiple='')
              p.help-block Using plugin methods to alter input at runtime. For example, click the Modify button to disable the plugin and change plugin options.
            .col-sm-2
              button.btn.btn-block.btn-warning.btn-modify(type='button') Modify
          .form-group
            label.col-sm-2.control-label Example 14
            .col-sm-10
              input#input-14.file-loading(name='input14[]', type='file', multiple='')
              p.help-block
                | Allow only image and video file types to be uploaded. You can configure the condition for validating the file types using 
                code fileTypeSettings
                | .
          .form-group
            label.col-sm-2.control-label Example 15
            .col-sm-10
              input#input-15.file-loading(name='input15[]', type='file', multiple='')
              p.help-block Allow only specific file extensions.
          .form-group
            label.col-sm-2.control-label Example 16
            .col-sm-10
              input#input-16.file-loading(name='input16[]', type='file', multiple='')
              p.help-block Disable preview and customize your own error container and messages.
              #errorBlock.help-block
